# VS / .NET
bin/
obj/
[Bb]uild/
.vs/
*.user
*.suo
*.VC.db
*.ipch
*.cache
*.ide

# WPF generated
*.g.cs
*.g.i.cs

# Packages
packages/
*.nupkg

# Logs
*.log

# Local configs
dbconfig.local.json
dbconfig.json
appsettings*.json

# Publish artifacts
publish/
